<%= form_with(model: ticket, class: "needs-validation") do |form| %>
  <% if ticket.errors.any? %>
    <div class="container my-4">
      <div class="alert alert-danger">
        <h4><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h4>
        <ul>
          <% ticket.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="container my-4 d-flex justify-content-center">
    <div class="col-md-6">
      <div class="mb-3">
        <%= form.label :date, class: "form-label fw-bold" %>
        <%= form.date_field :date, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :total, class: "form-label fw-bold" %>
        <%= form.text_field :total, class: "form-control" %>
      </div>

      <div class="mb-3">
        <label for="products" class="form-label fw-bold">Products</label>
          <div id="products">
            <% @products.each do |product| %>
              <div class="form-check d-flex align-items-center mb-2">
                <%= check_box_tag "ticket[product_ids][]", product.id, ticket.product_ids.include?(product.id), class: "form-check-input product-checkbox", id: "product_#{product.id}", data: { price: product.price } %>
                <%= label_tag "product_#{product.id}", "#{product.name} - #{number_to_currency(product.price)}", class: "form-check-label ms-2 me-2" %>
                <%= number_field_tag "quantity_#{product.id}", 1, class: "form-control quantity-input", data: { price: product.price, target_checkbox: "product_#{product.id}" }, min: 1, style: "width: 70px;" %>
              </div>
            <% end %>
          </div>
      </div>

      <div class="mt-4 text-center">
        <%= form.submit "Save Ticket", class: "btn btn-success" %>
      </div>

    </div>
  </div>
<% end %>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const checkboxes = document.querySelectorAll(".product-checkbox");
  const quantityInputs = document.querySelectorAll(".quantity-input");
  const totalField = document.querySelector("#ticket_total");

  const updateTotal = () => {
    let total = 0;

    checkboxes.forEach((checkbox) => {
      const targetQuantity = document.querySelector(`.quantity-input[data-target-checkbox="${checkbox.id}"]`);

      if (checkbox.checked) {
        const price = parseFloat(checkbox.dataset.price || 0);
        const quantity = parseInt(targetQuantity.value || 1);
        total += price * quantity;
      }
    });

    totalField.value = total.toFixed(2);
  };

  checkboxes.forEach((checkbox) => {
    checkbox.addEventListener("change", (event) => {
      const targetQuantity = document.querySelector(`.quantity-input[data-target-checkbox="${checkbox.id}"]`);
      targetQuantity.disabled = !event.target.checked;
      updateTotal();
    });
  });

  quantityInputs.forEach((input) => {
    input.addEventListener("input", updateTotal);
  });

  // Inicializa el total al cargar la página
  updateTotal();
});
</script>

