<div id="<%= dom_id product %>">
  <p class="fs-5">
    <strong class="text-primary">Name:</strong>
    <%= product.name %>
  </p>

  <p class="fs-5">
    <strong class="text-primary">Description:</strong>
    <%= product.description %>
  </p>

  <p class="fs-5">
    <strong class="text-primary">Image:</strong>
    <%= product.image %>
  </p>

  <p class="fs-5">
    <strong class="text-primary">Inventory:</strong>
    <%= product.inventory %>
  </p>

  <p class="fs-5">
    <strong class="text-primary">Price:</strong>
    <%= product.price %>
  </p>
</div>
