<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Producto</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      background-color: #f8f9fa;
    }

    .card {
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .field-spacing {
      margin-bottom: 20px;
    }

    .button-spacing {
      margin-top: 20px;
    }
  </style>
</head>
<body>

<div class="w-full my-4">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 col-lg-8" style="width: 150rex;">
      <h1 class="text-center mb-4">Editar Producto</h1>
      <div class="card p-5 shadow-lg" style="width: 150rex;">
        <div class="card-body">
          <%= form_with model: @product, url: product_path(@product), method: :patch, local: true do |form| %>
            <div class="field-spacing">
              <%= form.label :name, 'Nombre' %>
              <%= form.text_field :name, class: "form-control" %>
            </div>
            <div class="field-spacing">
              <%= form.label :description, 'Descripción' %>
              <%= form.text_field :description, class: "form-control" %>
            </div>
            <div class="field-spacing">
              <%= form.label :image, 'Imagen' %>
              <%= form.text_field :image, class: "form-control" %>
            </div>
            <div class="field-spacing">
              <%= form.label :inventory, 'Inventario' %>
              <%= form.number_field :inventory, class: "form-control" %>
            </div>
            <div class="field-spacing">
              <%= form.label :price, 'Precio' %>
              <%= form.number_field :price, class: "form-control" %>
            </div>
            <div class="field-spacing">
              <%= form.label :categoria_id, "Categoría" %>
              <%= form.collection_select :categoria_id, Categoria.all, :id, :categoria, prompt: "Seleccione una categoría", class: "form-control" %>
            </div>

            <div class="text-center mt-4">
              <%= form.submit 'Actualizar Producto', class: 'btn btn-primary btn-lg' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="text-center button-spacing">
        <%= link_to "Volver a productos", products_path, class: 'btn btn-secondary btn-lg' %>
      </div>
    </div>
  </div>
</div>

</body>
</html>